/*
    Document   : Labs/CST336silverjack/css/stylesï¼Žcss
    Created on : 2015-02-11 06:53 PM
    Author     : misarmiento
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

h1{
    color: red;
    margin-left:auto;
    margin-right:auto;
    
}


 #wrapper{ 
    width:700px;
    margin:auto;
    background:#ffffff;
    padding:10px;
    border-radius:15px;
}

button {
   
   border: 5px solid #401818;
   background: #e8dcdc;
   background: -webkit-gradient(linear, left top, left bottom, from(#eb4949), to(#e8dcdc));
   background: -webkit-linear-gradient(top, #eb4949, #e8dcdc);
   background: -moz-linear-gradient(top, #eb4949, #e8dcdc);
   background: -ms-linear-gradient(top, #eb4949, #e8dcdc);
   background: -o-linear-gradient(top, #eb4949, #e8dcdc);
   background-image: -ms-linear-gradient(top, #eb4949 0%, #e8dcdc 100%);
   padding: 14px 28px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #b88a8a 0 1px 0;
   color: #6b0606;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border: 5px solid #401212;
   text-shadow: #b57979 0 1px 0;
   background: #ff3030;
   background: -webkit-gradient(linear, left top, left bottom, from(#f5d7d7), to(#ff3030));
   background: -webkit-linear-gradient(top, #f5d7d7, #ff3030);
   background: -moz-linear-gradient(top, #f5d7d7, #ff3030);
   background: -ms-linear-gradient(top, #f5d7d7, #ff3030);
   background: -o-linear-gradient(top, #f5d7d7, #ff3030);
   background-image: -ms-linear-gradient(top, #f5d7d7 0%, #ff3030 100%);
   color: #700000;
   }
button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 5px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#ff3030));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #6b0e0e;
   }