/*
    Document   : Labs/CST336silverjack/css/stylesï¼Žcss
    Created on : 2015-02-11 06:53 PM
    Author     : misarmiento
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

h1{
    color: red;
    margin-left:auto;
    margin-right:auto;
    
}


 #wrapper{ 
    width:700px;
    margin:auto;
    background:#ffffff;
    padding:10px;
    border-radius:15px;
}